@import "_vars";
@import "_mixins";

.auth {
  display: flex;
  align-items: center;
  @include maw(991) {
    justify-content: center;
    padding-bottom: 30px;
  }
  @include miw(992) {
    height: 59px;
    width: 211px;

  }
  @include miw(1200) {
    width: 231px;
  }

  &__item {
    font-size: 18px;
    color: #fff;
    margin: 0 25px 0 0;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
    &--login {
      padding-left: 34px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(~assets/img/icon__login.svg) 0 0 no-repeat;
        width: 22px;
        height: 22px;
        background-size: cover;
      }
    }
  }
}
