@import "_vars";
@import "_mixins";

.bestseller {
  position: relative;
  z-index: 10;
  padding-top: 22px;
  padding-bottom: 70px;
  @include maw(991) {
    padding-top: 50px;
  }

  .slick-list {
    margin: 0 -20px 0;
  }
  .slick-slide {
    margin: 0 20px 0;
  }
  &__slider {
    margin: 0 60px 0;
    @include maw(575) {
      margin: 0 40px;
    }
  }
}
