@import "_vars";
@import "_mixins";

.bottom-menu {
  display: flex;
  justify-content: space-between;
  margin-left: -45px;
  @include maw(1199) {
    flex-wrap: wrap;
    margin-left: 0;
  }
  @include maw(992) {
    font-size: 16px;
  }

  &__col {
    width: 25%;
    @include mww(992,1200) {
      width: 50%;
    }
    @include maw(767) {
      width: 25%;
    }
    @include maw(575) {
      width: 50%;
      text-align: center;
    }
  }
  &__item {
    padding: 0 0 9px;
  }
  &__link {
    color: #fff;
  }
}
