@import "_vars";
@import "_mixins";

.catalog-unit {
  text-align: center;
  position: relative;

  &--catalog {
    width: 160px;
    margin: 0 auto;
  }

  &__figure {
    position: relative;
    display: inline-block;
    margin: 0 0 20px;
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-weight: 700;
    z-index: 15;
    background-color: $accent;
    padding: 1px 7px 2px;
  }
  &__img {

  }
  &__details {
    max-width: 160px;
    margin: auto;
    &--hover {
      margin: 232px 0 0 99px;
    }
  }
  &__price {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
  }
  &__to-cart {
    background: url(~assets/img/icon__cart--orange.svg) 0 0 no-repeat;
    background-size: cover;
    width: 21px;
    height: 28px;
    display: inline-block;
    margin: 0 0 0 18px;
    position: relative;
    top: 10px;
  }
  &__old-price {
    margin: 0 15px 0 0;
    text-decoration: line-through;
    color: $light-blue;
    opacity: .63;
  }
  &__sale {}
  &__title {
    padding: 8px 0 0;
    color: $light-blue;
    a {
      color: $light-blue;
    }
  }
  &__category {
    color: $light-blue;
    a {
      color: $light-blue;
    }
  }
  &__sale {
    display: flex;
    padding: 6px 0 0;
  }
  &__sale-perc {
    font-weight: 700;
    background-color: $light-blue;
    @include lh(15,21);
    padding: 0 4px 0;
  }

  &__hover {
    background-color: #1f4ea3;
    visibility: hidden;
    border: 3px solid $light-blue;
    position: absolute;
    width: 277px;
    top:   -99999999px;
    right: -99999999px;
    height: calc(100% + 42px);
    z-index: 10;

    &.load {
      visibility: visible;
    }
    &.show {
      @include miw(768) {
        top:   -15px;
        right: -15px;
      }
    }
  }
}
