@import "_vars";
@import "_mixins";

.characteristics {

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px;
    position: relative;
    @include maw(991) {
      padding-bottom: 10px;
    }
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      top: 16px;
      left: 0;
      border-top: 1px dotted $light-blue;
    }
  }
  &__title {
    white-space: nowrap;
    background-color: #1f4ea3;
    position: relative;
    z-index: 3;
    padding: 0 3px 0 0;
  }
  &__value {
    text-align: right;
    background-color: #1f4ea3;
    position: relative;
    z-index: 3;
    padding: 0 0 0 3px;
  }
}
