@import "_vars";
@import "_mixins";

.checkbox {
  display: none;

}
.label--checkbox {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 25px;
  font-size: 15px;
  line-height: 1;
  margin: 0;
}
.label--checkbox:before {
  content: '';
  width:  16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox:checked + .label--checkbox:before {
  background-image: url(~assets/img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 12px;
}
