@import "_vars";
@import "_mixins";

.contacts {
  &--header {
    @include miw(1200) {
      position: relative;
      right: -35px;
    }
    @include maw(991) {
      text-align: center;
    }
    @include maw(767) {
      padding-bottom: 30px;
    }
    @include miw(992) {
      margin-right: -25px;
    }
  }
  &--footer {
    @include mww(576,991) {
      margin-left:  -30px;
      margin-right: -30px;
    }
    @include maw(991) {
      text-align: center;
    }
    @include miw(1200) {
      margin-left: -50px;
    }
  }
}
