@import "_vars";
@import "_mixins";

.dbl-col {
  display: flex;
  justify-content: space-between;
  @include maw(992) {
    flex-wrap: wrap;
  }

  &__item {
    width: calc(50% - 25px);
    @include maw(991) {
      width: 100%;
    }
  }
}
