@import "_vars";
@import "_mixins";

.delivery {

  &__title {
    color: $light-blue;
    font-size: 16px;
    padding: 0 0 18px;
    @include maw(575) {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    @include mww(768,991) {
      padding-right: 10px;
    }
    @include maw(575) {
      justify-content: center;
    }
    @include mww(400,575) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__item {
    margin: 0 12px 12px 0;
    @include maw(575) {
      margin: 0 6px 12px;
    }
  }
  &__img {
    width: 47px;
    height: 28px;
  }
}
