@import "_vars";
@import "_mixins";

.form {
  &--search {
    @include miw(1200) {
      width: 231px;
    }
  }
  &--feedback {
    border: 2px solid $light-blue;
    margin-bottom: 100px;
    color: $light-blue;
  }
  &__heading {
    font-size: 24px;
    font-weight: 700;
    color: $accent;
    //text-align: center;
    margin-top: -19px;
    display: flex;
    justify-content: center;
    padding: 0 0 16px;
    @include maw(575) {
      font-size: 20px;
    }
    span {
      max-width: 80%;
      text-align: center;
      flex-basis: auto;
      background-color: #1f4ea3;
      padding: 0 16px 0;
      //display: inline-block;
      margin: 0 30px 0;
      @include maw(575) {
        margin: 0 10px;
        padding: 0 10px;
        max-width: 90%;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    &--contacts {
      @include maw(991) {
        flex-wrap: wrap;
      }
    }
    &--wholesale {
      @include maw(991) {
        flex-wrap: wrap;
      }
    }
    &--reviews {
      @include maw(991) {
        flex-wrap: wrap;
      }
    }
    &--reg {
      padding: 0;
      @include maw(575) {
        flex-wrap: wrap;
      }
    }
  }
  &__col {
    &--input-contacts {
      width: calc(25% - 19px);
      @include maw(991) {
        width: 100%;
      }
    }
    &--input-wholesale {
      width: calc(25% - 19px);
      @include maw(991) {
        width: calc(50% - 12.5px);
      }
      @include maw(575) {
        width: 100%;
      }
    }
    &--input-reviews {
      width: calc(25% - 19px);
      @include maw(991) {
        width: 100%;
      }
      @include maw(575) {
        width: 100%;
      }
    }
    &--textarea-contacts {
      width: calc(75% - 6px);
      @include maw(991) {
        width: 100%;
      }
    }
    &--textarea-reviews {
      width: calc(50% - 12.5px);
      @include maw(991) {
        width: 100%;
      }
    }
    &--dbl-wholesale {
      width: calc(50% - 12px);
      @include maw(991) {
        width: 100%;
      }
    }
    &--reg {
      width: calc(50% - 7px);
      @include maw(575) {
        width: 100%;
      }
    }
    &--birthday {
      width: 146px;
      @include maw(575) {
        width: 100%;
      }
    }
    &--gender {
      width: calc(100% - 160px);
      @include maw(575) {
        width: 100%;
      }
    }
    &--country {
      width: 146px;
      margin-right: 14px;
      flex-shrink: 0;
      @include maw(575) {
        width: 100%;
      }
    }
    &--area {
      width: 146px;
      margin-left: 14px;
      flex-shrink: 0;
      @include maw(575) {
        width: 100%;
        margin-left: 0;
      }
    }
    &--city {
      width: 146px;
      margin-right: 14px;
      flex-shrink: 0;
      @include maw(575) {
        width: 100%;
        margin-right: 0;
      }
    }
    &--street {
      width: calc(100% - 160px);
      @include maw(575) {
        width: 100%;
      }
    }
    &--house {
      width: 146px;
      margin-right: 14px;
      flex-shrink: 0;
      @include maw(575) {
        width: 100%;
        margin-right: 0;
      }
    }
    &--room {
      width: 146px;
      margin-left: 14px;
      flex-shrink: 0;
      @include maw(575) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &__group-radio {
    display: flex;
    align-items: center;
    height: 34px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include maw(575) {
      height: auto;
    }
  }
  &__field {
    padding: 0 0 8px;
    @include maw(991) {
      padding-bottom: 15px;
    }
    &--search {
      padding: 0;
      max-width: 211px;
      @include maw(991) {
        margin: 0 auto;
      }
    }
    &--textarea {
      padding-bottom: 33px;
    }
  }
  &__label {
    color: $light-blue;
    cursor: pointer;
    user-select: none;
    margin: 0 0 5px;
    &--radio {
      margin: 0;
      @include maw(575) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    &--popup {
      color: #fff;
    }
  }
  &__input {
    width: 100%;
    border: 0;
    padding: 7px 5px;
    &--search {
      background-color: transparent;
      padding-left: 25px;
      padding-right: 10px;
      color: #fff;
      border-radius: 18px;
      border: 1px solid $accent;
      &::placeholder {
        color: #fff;
        background-color: transparent;
      }
    }
    &--date {
      background-image: url(~assets/img/icon__calendar.svg);
      background-repeat: no-repeat;
      background-position: 93% 50%;
      background-size: 17px 17px;
      padding-right: 30px;
      @include maw(575) {
        background-position: 98% 50%;
      }
      @include maw(480) {
        background-position: 97% 50%;
      }
    }
  }
  &__textarea {
    width: 100%;
    border: 0;
    padding: 7px 5px;
    vertical-align: bottom;
    &--contacts {
      height: 101px !important;
    }
    &--reviews {
      height: 101px !important;
    }
  }
  &__radio {
    position: relative;
    top: 1px;
  }
  &__actions {
    width: 100%;
    text-align: center;
    margin-bottom: -29px;
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    &--popup {
      padding-top: 19px;
      margin-bottom: 0;
    }
    &--reviews {
    }
  }
  &__actions-in {
    //display: inline-block;
    display: flex;
    padding: 0 12px;
    background-color: #1f4ea3;
    @include maw(575) {
      display: block;
      text-align: center;
    }
  }
  &__button {

  }

  &__wrap-text {
    display: flex;
    @include maw(767) {
      flex-wrap: wrap;
    }
    &--wholesale {
      justify-content: space-between;
      @include maw(991) {
        flex-wrap: wrap;
      }
    }
  }

  &__checkbox {
    display: none;
  }

  &__label--checkbox {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 31px;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    &--popup {
      color: #fff;
    }
  }
  &__label--checkbox:before {
    content: '';
    width:  16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__checkbox:checked + &__label--checkbox:before {
    background-image: url(~assets/img/checkbox.svg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 12px;
  }
  &__file-upload {
    @include maw(575) {
      text-align: center;
      margin: 0 0 25px;
    }
  }
  &__label--file {
    line-height: 46px;
    display: inline-block;
    border: 2px solid $light-blue;
    padding: 0 75px 0 27px;
    color: #fff;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin: 0 26px 0 0;
    @include maw(575) {
      margin-right: 0;
    }
    &:after {
      content: '+';
      font-size: 33px;
      position: absolute;
      top: -2px;
      right: -2px;
      width: 47px;
      height: calc(100% + 4px);
      border: 2px solid $light-blue;
    }
  }
  &__file-input {
    display: none;
  }

  &__consent {

    &--contacts {
      max-width: 410px;
      padding: 0 60px 0 0;
      @include maw(991) {
        width: 50%;
        max-width: none;
      }
      @include maw(767) {
        width: 100%;
        padding: 0 0 20px;
      }
    }
    &--wholesale {
      @include maw(991) {
        width: 100%;
        padding: 30px 0 0;
      }
      @include maw(767) {

      }
    }
    &--reviews {
      padding-top: 25px;
      @include maw(991) {
        padding-top: 20px;
      }
    }
    &--reg {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  &__guarantee {
    font-size: 15px;
    &--contacts {
      max-width: 300px;
      @include maw(767) {
        width: 100%;
        max-width: none;
      }
    }
    &--wholesale {
      @include maw(575) {
        padding-top: 30px;
      }
    }
  }
  &__note {
    font-size: 15px;
    max-width: 300px;
    @include maw(767) {
      width: 100%;
      max-width: none;
    }
    &--required {
      max-width: none;
      padding-top: 23px;
      text-indent: -10px;
      margin-left: 12px;
      @include maw(767) {
        width: auto;
      }
      @include maw(575) {
        padding-top: 0;
        padding-bottom: 20px;
      }
    }
  }
  &__subheading {
    font-weight: 700;
    padding-bottom: 3px;
  }
  &__address {
    border-top: 1px solid rgba(255,255,255,.28);
    padding-top: 10px;
    margin-top: 13px;
  }
  &__password {
    border-top: 1px solid rgba(255,255,255,.28);
    padding-top: 10px;
    margin-top: 13px;
  }
}
