@import "_vars";
@import "_mixins";

.menu-dropdown {
  @include maw(991) {
    padding: 0 0 0 20px;
    display: none;
  }
  @include miw(992) {
    display: none;
    background: $accent;
    position: absolute;
    left: 0;
    top: 48px;
    min-width: 100%;
    .menu__item:last-child & {
      left: auto !important;
      right: 0 !important;
    }
    .menu__item:hover & {
      display: block !important;
    }
    .align-right & {
      left: auto;
      right: 0;
    }
  }

  &__item {
    font-size: 18px;
    @include maw(991) {
      font-size: 17px;
      padding: 4px 0;
    }
    @include miw(992) {
      white-space: nowrap;
    }
  }
  &__link {
    color: #fff;
    @include miw(992) {
      display: block;
      padding: 9px 20px 9px 20px;
      &:hover {
        background: #f98030;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
