@import "_vars";
@import "_mixins";

.fs-number {
  position: relative;
  overflow: hidden
}
.fs-number,
.fs-number *,
.fs-number :after,
.fs-number :before,
.fs-number:after,
.fs-number:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}
.fs-number-element {
  width: 100%;
  overflow: hidden;
  -moz-appearance: textfield
}
.fs-number-element::-webkit-inner-spin-button,
.fs-number-element::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none
}
.fs-number-element::-ms-clear {
  display: none
}
.fs-number-arrow {
  border: none;
  padding: 0
}
.fs-number-disabled .fs-number-arrow {
  cursor: default
}


.number {
  width: 98px;
  font-size: 16px;

  .fs-number {
    text-align: center;
  }
  &__input {
    height: 36px;
    border: 1px solid $light-blue;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    width: 36px;
  }
  .fs-number-arrow {
    background-color: transparent;
    position: absolute;
    width: 32px;
    height: 100%;
    border: 1px solid $light-blue;
    color: #fff;
  }
  .fs-number-down {
    left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    &:before {
      content: '';
      @include align;
      height: 1px;
      width: 7px;
      background: #fff;
    }
  }
  .fs-number-up {
    right: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    &:before {
      content: '+';
    }
  }
}
