@import "_vars";
@import "_mixins";

.product-slider-main {
  .slick-slide {
    border: 0;
  }
  &__item {
    @include aspect-ratio(413,554);
    position: relative;
    @include maw(575) {
      text-align: center;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.slick-initialized .product-slider-main__item {
  display: block !important;
}
