@import "_vars";
@import "_mixins";

.product-wrap {
  display: flex;
  padding: 0 0 57px;
  justify-content: space-between;
  @include maw(1280) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 526px;
    margin: 0 auto;
  }
}
