@import "_vars";
@import "_mixins";

.product-slider {
  display: flex;
  @include vwWidth(526);
  margin: 0 50px 0 0;
  @include maw(1280) {
    margin: 0 0 60px;
    width: auto;
  }
  @include maw(991) {
    width: 100%;
  }
  @include maw(575) {
    flex-wrap: wrap;
  }

  &__nav {
    width: 93px;
    margin: 0 20px 0 0;
    @include maw(575) {
      order: 2;
      width: 100%;
      margin: 0;
    }
  }
  &__main {
    position: relative;
    width: 100%;
    max-width: 413px;
    @include maw(991) {
      width: calc(100% - 113px);
    }
    @include maw(575) {
      width: 100%;
      order: 1;
      max-width: none;
      margin: auto;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $accent;
    color: #fff;
    z-index: 100;
    font-weight: 700;
    padding: 0 6px;
    line-height: 21px;
  }
}
