@import "_vars";
@import "_mixins";

.reviews-slider {
  padding: 0 23px 0;
  &.single-slide {
    padding: 0;
    .slick-track {
      width: 100% !important;
    }
    .slick-list {
      cursor: default;
    }
    .slick-slide {
      cursor: default;
      padding: 0;
      width: 100% !important;
    }
    .reviews-slider__slide {
      padding: 0;
      text-align: left;
    }
  }
  &__slide {
    padding: 0 5px 0;
    text-align: center;
  }
  .slider-button {
    width: 14px;
    height: 26px;
  }
  .slider-button--prev {
    left: 0;
    top: calc(50% - 13px);
  }
  .slider-button--next {
    right: 0;
    top: calc(50% - 13px);
  }
}
