@import "_vars";
@import "_mixins";

.size-link {
  color: $light-blue;
  position: relative;
  padding: 0 0 0 29px;
  &:before {
    content: '';
    background: url(~assets/img/icon__size.svg) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 24px;
  }
}
