@import "_vars";
@import "_mixins";

.slogan {
  color: #91b9ff;
  &--header {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    @include maw(1199) {
      margin-right: -25px;
    }
    @include maw(991) {
      margin-right: 0;
      white-space: nowrap;
      font-size: 15px;
    }
    @include maw(575) {}
    @include miw(1200) {
      font-size: 18px;
      position: relative;
      left: -10px;
      width: calc(100% + 70px);
    }
  }
  &--footer {
    @include maw(767) {
      display: flex;
      align-items: center;
      height: 100%;
    }
    @include mww(576,767) {
      margin-left: -25px;
    }
    @include maw(575) {
      text-align: center;
      justify-content: center;
    }
  }
}
