@import "_vars";
@import "_mixins";

.social {
  display: flex;
  flex-wrap: wrap;
  &--footer {
    max-width: 140px;
    align-content: flex-start;
    @include maw(991) {
      justify-content: center;
    }
    @include mww(576,767) {
      justify-content: flex-end;
    }
  }

  &__item {
    display: block;
    width: 46px;
    height: 46px;
    background-position: 50%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 0 12px 12px 0;
    &:nth-child(2n+2) {
      margin-right: 0;
    }
    &--vk {
      background-image: url(/static/img/layout/vk.svg);
      &:hover {
        background-image: url(/static/img/layout/vk--hover.svg);
      }
    }
    &--instagram {
      background-image: url(/static/img/layout/instagram.svg);
      &:hover {
        background-image: url(/static/img/layout/instagram--hover.svg);
      }
    }
    &--fb {
      background-image: url(/static/img/layout/fb.svg);
      &:hover {
        background-image: url(/static/img/layout/fb--hover.svg);
      }
    }
    &--tw {
      background-image: url(/static/img/layout/twitter.svg);
      &:hover {
        background-image: url(/static/img/layout/twitter--hover.svg);
      }
    }
  }
}
