@import "_vars";
@import "_mixins";

.table-size {
  width: 100%;
  @include maw(767) {
    font-size: 16px;
  }
  &--child {
    @include miw(992) {
      max-width: 65%;
    }
  }

  td {
    white-space: nowrap;
    padding: 4px 5px 7px;
    @include maw(992) {
      padding: 7px 8px 10px;
    }
  }
  td:first-child {
    font-weight: 700;
    width: 30%;
    padding-left: 0;
    @include mww(992,1199) {
      min-width: 240px;
    }
    @include miw(1200) {
      min-width: 277px;
    }
  }
  tr {
    border-bottom: 1px solid $light-blue;
    &:last-child {
      border-bottom: 0;
    }
  }
}
