@import "_vars";
@import "_mixins";

.wholesale-intro {
  background: #07215e;
  display: flex;
  margin: 0 0 53px;
  @include maw(991) {
    flex-wrap: wrap;
  }

  &__descr {
    padding: 30px 28px 20px;
    @include maw(991) {
      width: 100%;
    }
    @include miw(992) {
      max-width: 355px;
      flex-shrink: 0;
    }
  }
  &__slider {
    width: calc(100% - 355px);
    flex-grow: 1;
    position: relative;
    @include maw(991) {
      width: 100%;
    }
  }
}
