@import "_vars";
@import "_mixins";

.articles {
  padding-bottom: 100px;

  &__item {
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 13px 22px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url(../img/checkbox.svg) 0 0 no-repeat;
      background-size: contain;
      width:  13px;
      height: 13px;
      transform: rotate(-90deg);
    }
  }

  a {
    color: #fff;
    &:hover {
      color: $accent;
    }
  }
}