@import "vars";
@import "mixins";

html {
  //font-size: 10px;
  //-webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  @include maw(991) {
    font-size: 18px;
  }
}


img {
  max-width: 100%;
  vertical-align: bottom;
}


// Links
//a {
//  color: $accent;
//  text-decoration: none;
//  &:hover {
//    text-decoration: underline;
//  }
//  .touchevents &:hover {
//    text-decoration: none;
//  }
//}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
  //appearance: none;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button:focus {
 outline: 0;
}

:focus {
  outline: 0;
}

p {
  margin: 0;
  padding: 0 0 1em;
}

* {
  outline: none;
  //outline: 1px solid #fff;
}

nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.hidden-md {
  @include maw(991) {
    display: none;
  }
}

.hidden-sm {
  @include maw(767) {
    display: none;
  }
}

.hidden-xs {
  @include maw(575) {
    display: none;
  }
}

.accent {
  color: $accent;
}

.bold {
  font-weight: 700;
}

.light-blue {
  color: $light-blue;
  &--bold {
    font-weight: 700;
  }
}

.underline {
  text-decoration: underline;
}

.font-20 {
  font-size: 20px;
}