@import "_vars";
@import "_mixins";

.basket {
  overflow: hidden;
  padding: 0 0 45px;

  &__in {
    overflow: auto;
  }
  &__table {
    width: 100%;
  }
  &__row {
    border-bottom: 1px solid $light-blue;
  }
  &__cell {
    vertical-align: top;
    padding: 36px 10px 27px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &--total {
      padding-top: 29px;
    }
  }
  &__wrap {
    display: flex;
  }
  &__headline {
    white-space: nowrap;
    color: $light-blue;
    padding: 0 0 11px;
    font-size: 16px;
    &--count {
      padding-left: 6px;
    }
  }
  &__figure {
    width: 160px;
  }
  &__img {}
  &__details {}
  &__title {
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0 19px;
    a {
      color: #fff;
      &:hover {
        color: $accent;
      }
    }
  }
  &__article {
    padding: 0 0 8px;
    font-size: 16px;
  }
  &__color {
    font-size: 16px;
  }
  &__price {}
  &__size {}
  &__count {}
  &__sum {}
  &__to-fav {
    padding-top: 39px;
  }
  &__del {
    width: 47px;
  }
  &__value {
    white-space: nowrap;
    font-size: 20px;
    line-height: 36px;
    padding: 0 0 10px;
  }
  &__total {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
  }
  &__total-count {
    font-size: 25px;
    padding-left: 30px;
    line-height: 50px;
  }
  &__total-sum {
    font-size: 25px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 50px;
  }
  &__actions {
    text-align: right;
  }
}