@import "_vars";
@import "_mixins";

.btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid $accent;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 28px;
  transition: background-color 250ms ease, color 250ms ease;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
  position: relative;
  @include miw(576) {
    white-space: nowrap;
  }

  &--orange {
    color: $accent;
  }
  &--orange-bg {
    background-color: $accent;
  }
  &--white {
    color: #fff;
    border-color: #fff;
  }
  &--to-order {
    &:before {
      content: '';
      background: url(../img/icon__cart.svg) 0 0 no-repeat;
      width: 15px;
      height: 21px;
      display: inline-block;
      vertical-align: top;
      margin: 0 12px 0 0;
    }
  }

  &:hover {
    background-color: $accent;
    color: #fff;
    text-decoration: none;
  }

  &--back {
    font-size: 17px;
    border: 1px solid $light-blue;
    text-transform: uppercase;
    padding: 7px 18px 7px 37px;
    font-weight: 400;
    margin-right: 26px;
    align-self: flex-start;
    &:before {
      content: '';
      background: url(../img/arrow.svg) 0 0 no-repeat;
      width: 10px;
      height: 17px;
      position: absolute;
      top: 50%;
      left: 13px;
      margin-top: -8px;
      transform: rotate(180deg);
    }
    &:hover {
      border: 1px solid $accent;
    }
  }

  &--delete {
    padding: 0;
    font-weight: 400;
    border: 0;
    overflow: hidden;
    display: block;
    font-size: 30px;
    width:     37px;
    max-width: 37px;
    height:    37px;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
    position: relative;
    cursor: pointer;
    &:before {
      content: '+';
      transform: rotate(45deg);
      @include align;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  &--delete-bdr {
    padding: 0;
    font-weight: 400;
    border: 0;
    overflow: hidden;
    display: block;
    font-size: 30px;
    width:     37px;
    max-width: 37px;
    height:    37px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    position: relative;
    cursor: pointer;
    &:before {
      content: '+';
      transform: rotate(45deg);
      font-size: 30px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0.25px;
      top: 0;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $accent;
      border-radius: 50%;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  &--add-bdr {
    padding: 0;
    font-weight: 400;
    border: 0;
    overflow: hidden;
    display: block;
    font-size: 24px;
    width:     37px;
    max-width: 37px;
    height:    37px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    position: relative;
    cursor: pointer;
    &:before {
      content: '+';
      @include align;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      line-height: 36px;
      top: 0;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $accent;
      border-radius: 50%;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

}