@import "_vars";
@import "_mixins";

.catalog {

  &__in {
    margin: 0 -28px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    margin: 0 0 39px;
    min-width: 200px;
    @include maw(1199) {
      width: 33.33%;
    }
    @include maw(991) {
      width: 50%;
      min-width: 180px;
    }
    @include maw(575) {
      width: 100%;
    }
  }
}