@import "_vars";
@import "_mixins";

.edit-link {
  color: $light-blue;
  font-size: 14px;
  text-decoration: underline;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: '';
    background: url(../img/icon__pen.svg) 0 0 no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 0 4px 0 0;
    position: relative;
    top: 1px;
  }
}