@import "vars";
@import "mixins";

.footer {
  flex: 0 0 auto;
  background: #080822;
  background: -moz-linear-gradient(top, #07215e 0%, #080822 100%);
  background: -webkit-linear-gradient(top, #07215e 0%,#080822 100%);
  background: linear-gradient(to bottom, #07215e 0%,#080822 100%);
  //padding: 168px 0 0;
  padding: 65px 0 0;
  position: relative;
  margin-top: 103px;
  @include maw(991) {
    padding-top: 130px;
  }
  @include maw(767) {
    padding-top: 90px;
  }

  &--border {
    background: #080822;
    //border-top: 1px solid #3d3e72;
    padding: 59px 0 0;
    margin-top: 0;
    &:before {
      content: none;
    }
  }

  &:before {
    content: '';
    background: url(/static/img/layout/bg__about-top.png) 50% 0 no-repeat;
    width: 100%;
    height: 103px;
    position: absolute;
    top: -103px;
    left: 0;
  }

  @include maw(991) {
    height: auto;
  }

  &__logo {
    padding-top: 2px;
    padding-bottom: 40px;
    @include maw(991) {
      order: 1;
    }
  }
  &__menu {
    padding-bottom: 30px;
    @include maw(991) {
      order: 2;
    }
    @include maw(767) {
      order: 3;
    }
  }
  &__lang {
    @include maw(991) {
      order: 5;
    }
    @include maw(575) {
      padding-bottom: 30px;
    }
  }
  &__contacts {
    @include maw(991) {
      order: 6;
    }
    @include maw(575) {
      padding-bottom: 30px;
    }
  }
  &__slogan {
    @include maw(991) {
      order: 3;
    }
    @include maw(767) {
      order: 2;
      padding-bottom: 40px;
    }
  }
  &__social {
    padding-bottom: 46px;
    @include maw(991) {
      order: 7;
      display: flex;
      justify-content: center;
    }
    @include maw(767) {
      padding-bottom: 30px;
    }
    @include mww(576,767) {
      justify-content: flex-end;
    }
  }
  &__wrap {
    padding-bottom: 46px;
    @include maw(991) {
      order: 4;
    }
    @include maw(767) {
      padding-bottom: 30px;
    }
  }
  &__holder {
    margin-left: -45px;
    display: flex;
    justify-content: space-between;
    @include maw(1199) {
      margin-left: 0;
    }
  }
  &__payments {
    width: 50%;
  }
  &__delivery {
    width: 50%;
  }
  &__partnership {
    padding-bottom: 46px;
    @include maw(991) {
      order: 8;
    }
    @include maw(767) {
      padding-bottom: 30px;
    }
  }
}
