@import "_vars";
@import "_mixins";

.gallery {
  padding: 0 0  70px;
  @include maw(575) {
    width: calc(100% + 50px);
    position: relative;
    left: -25px;
    overflow: hidden;
  }

  &__carousel {
    margin: 0 0 60px;
  }
  &__text {
    text-align: center;
    padding: 0 25px 0;
  }
}