@import "_vars";
@import "_mixins";

.incut {
  background: #07215e;
  display: flex;
  justify-content: space-between;
  margin: 28px 0 0;
  @include maw(575) {
    flex-wrap: wrap;
  }

  &__figure {
    @include mww(768,991) {
      flex-shrink: 0;
    }
    @include maw(767) {
      width: calc(50% - 25px);
    }
    @include maw(575) {
      width: 100%;
    }
    @include miw(992) {
      width: 50%;
    }
  }
  &__descr {
    padding: 35px 20px 0 40px;
    @include maw(767) {
      padding-top: 25px;
      width: calc(50% - 25px);
      padding-left: 0;
    }
    @include maw(575) {
      width: 100%;
      padding: 25px;
    }
    @include miw(992) {
      width: 50%;
      @include paddingTopVW(35);
      @include paddingRightVW(20);
      @include paddingLeftVW(40);
    }
  }
  &__title {
    font-size: 25px;
    font-weight: 700;
    color: $light-blue;
    padding: 0 0 30px;
    @include maw(767) {
      font-size: 22px;
    }
    @include miw(992) {
      @include vwFont(25px);
      @include paddingBottomVW(30);
    }
  }
  &__text {
    font-size: 22px;
    @include maw(767) {
      font-size: 18px;
    }
    @include miw(992) {
      @include vwFont(22px);
    }
  }
}