@import "_vars";
@import "_mixins";

.list {
  padding: 0;
  margin: 0;
  &__item {
    list-style: none;
    position: relative;
    &:before {
      content: '>';
      display: inline-block;
      color: $accent;
      font-size: 19px;
      font-weight: 700;
      margin-right: 5px;
    }
    &--about {
      padding-bottom: 1.5em;
    }
    &--circle {
      padding-left: 58px;
      padding-bottom: 1.2em;
      &:before {
        content: none;
      }
    }
    &--arrow {
      padding-left: 18px;
      &:before {
        content: '';
        background: url(/static/img/layout/arrow--orange.svg) 0 0 no-repeat;
        width: 6px;
        height: 12px;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }

  &__count {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    background: url(/static/img/layout/circle.svg) 0 0 no-repeat;
    width: 42px;
    height: 42px;
    padding: 7px 0 0 3px;
    color: $light-blue;
  }
}
