@import "_vars";
@import "_mixins";

.mobile-menu {
  display: none;
  position: absolute;
  top: 59px;
  background-color: #07215e;
  z-index: 9999;
  width: 100%;
  left: 0;
  padding: 15px 25px 25px;
  border-bottom: 1px solid #4d6eb0;
  @include maw(575) {
    top: 164px;
  }
}