@import "vars";
@import "mixins";

.pagination {
  color: #91b9ff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 87px;
  @include maw(575) {
    padding-top: 60px;
  }
  //@include miw(576) {
  //  padding-left: 26px;
  //}
  &__in {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: inline-block;
    line-height: 34px;
    margin: 0 6px 0;
    &.active {
      text-align: center;
      width: 34px;
      background: url(../img/circle.svg) 0 0 no-repeat;
      background-size: cover;

      @include miw(576) {
        margin: 0 25px;
      }
    }
    &:nth-child(2).active {
      margin-left: 0;
    }
    &:nth-last-child(2).active {
      margin-right: 0;
    }
    &--backward {
      margin-left: 0;
      @include maw(575) {
        text-indent: -9999px;
      }
    }
    &--forward {
      margin-right: 0;
      @include maw(575) {
        text-indent: -9999px;
      }
    }
  }
  &__link {
    color: #91b9ff;
    position: relative;
    display: block;
    &--backward {
      @include maw(575) {
        width: 9px;
        height: 16px;
        margin-right: 10px;
      }
      @include miw(576) {
        margin-right: 42px;
        padding-left: 19px;
      }
      &:before {
        content: '';
        background: url(../img/arrow.svg) 0 0 no-repeat;
        background-size: cover;
        width: 9px;
        height: 16px;
        display: inline-block;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 9px;
      }
    }
    &--forward {
      @include maw(575) {
        width: 9px;
        height: 16px;
        margin-left: 10px;
      }
      @include miw(576) {
        margin-left: 42px;
        padding-right: 19px;
      }
      &:after {
        content: '';
        background: url(../img/arrow.svg) 0 0 no-repeat;
        background-size: cover;
        width: 9px;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 9px;
      }
    }
  }
}