@import "vars";
@import "mixins";


.popup {
  display: none;
  background: $accent;
  max-width: 381px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 35px 50px 25px;
  &--reg {
    max-width: 540px;
  }
  @include maw(575) {
    padding-left:  30px;
    padding-right: 30px;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 0 0 11px;
    &--left {
      text-align: left;
    }
  }
  &__link {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}