@import "_vars";
@import "_mixins";

.same-design {
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    @include mww(1281,1310) {
      flex-wrap: wrap;
    }
    @include maw(575) {
      flex-wrap: wrap;
    }
  }
  &__item {
    @include mww(1281,1310) {
      width: 100%;
      margin: 0 0 39px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include maw(1280) {
      width: 50%;
    }
    @include maw(575) {
      width: 100%;
      margin: 0 0 39px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}