@import "_vars";
@import "_mixins";

.section {
  &--gradi {
    background: #12367e;
    background: -moz-linear-gradient(top,  #12367e 0%, #164998 50%, #1753a5 100%);
    background: -webkit-linear-gradient(top,  #12367e 0%,#164998 50%,#1753a5 100%);
    background: linear-gradient(to bottom,  #12367e 0%,#164998 50%,#1753a5 100%);
  }
  &--negative-indent {
    margin: -104px 0 -105px;
    padding: 104px 0 105px;

  }
}