@import "_vars";
@import "_mixins";

.sidebar {
  @include vwWidth(275);
  @include maw(991) {
    min-width: 235px;
  }
  @include maw(767) {
    min-width: auto;
    max-width: none;
    width: auto;
    margin-bottom: 40px;
  }
}