@import "_vars";
@import "_mixins";

.simple-slider {
  &--wholesale {
    @include miw(992) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .slick-slider {
      @include miw(992) {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .slick-list {
      @include miw(992) {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .slick-track {
      @include miw(992) {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

      }
    }

    .slider__slide {
      display: block !important;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-size: cover;
      background-position: 50%;
      @include maw(991) {
        @include aspect-ratio(894,432);
        min-height: 250px;
      }
    }
  }

  &__button {
    width: 27px;
    height: 49px;
    top: 50%;
    margin-top: -24.5px;
    &--prev {
      left: 27px;
      @include maw(575) {
        left: 15px;
      }
    }
    &--next {
      right: 27px;
      @include maw(575) {
        right: 15px;
      }
    }
  }
}