@import "_vars";
@import "_mixins";

.size {
  padding: 0 0 85px;

  &__heading {
    padding-bottom: 39px;
    @include maw(991) {
      padding-bottom: 25px;
    }
  }
  &__figure {
    padding: 8px 0 0;
    text-align: center;
    @include maw(991) {
      padding-top: 30px;
    }
  }
  &__img {
    max-width: 250px;
    @include maw(991) {
    }
  }
  &__table {
    margin: 0 0 20px;
    overflow: auto;
  }
}