@import "vars";
@import "mixins";

.slider {}

.slider-button {
  background: url(../img/arrow.svg) 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 86px;
  z-index: 5;
  width:  33px;
  height: 61px;
  cursor: pointer;
}
.slider-button--prev {
  left: -60px;
  transform: rotate(180deg);
  @include maw(575) {
    left: -40px;
  }
}
.slider-button--next {
  right: -60px;
  background-position: 100% 0;
  @include maw(575) {
    right: -40px;
  }
}

.slider {
  &__slide {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
.slick-initialized {
  .slick-slide {
    display: block;
  }
}
.slick-dots {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
    width: 10px;
    height: 10px;
    border: 2px solid #181819;
    cursor: pointer;
    border-radius: 50%;
    margin: 1px 10px 0;
    vertical-align: top;
    @include maw(1279) {
      width:  8px;
      height: 8px;
    }
    &:first-child {
      margin-left: 1px;
    }
    &:last-child {
      margin-right: 1px;
    }
  }
  .slick-active {
    background-color: #000;
    width: 12px;
    height: 12px;
    margin: 0 9px;
    @include maw(1279) {
      width:  10px;
      height: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    background-color: transparent;
    display: none;
  }
}
