@import "_vars";
@import "_mixins";

.to-favourites {
  position: relative;
  padding: 0 0 0 35px;
  color: #fff;
  white-space: nowrap;
  &:before {
    content: '';
    background: url(../img/icon__heart.svg) 0 0 no-repeat;
    background-size: cover;
    width: 27px;
    height: 24px;
    position: absolute;
    top: -1px;
    left: 0;
  }
}